*{
    margin:0;
    padding:0;
    Box-sizing: border-box;
}

body{
    background-color: whitesmoke;
    font-size: medium;
    font-family:'Times New Roman', Times, serif
}

header{
    background-color: aquamarine;
    color: black;
    padding: 30px 0;
    text-align: center;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 600;
    font-size: larger;
    margin: 2rem;
}

ul{
    display: flex;
    gap: 5rem;
    list-style: none;
    margin-top: 2rem;
    padding: 0;
    justify-content: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: small;
    color: black;
}

.container{
    background-color: azure;
    margin: 1rem;
    padding: 25px;
}

.accent{
    background-color: lightblue;
}

main{
    flex: 3;
}

h2{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: large;
}

p{
    background-color: azure;
    font-family: 'Times New Roman', Times, serif;
    margin: 30px; 
}

h3{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium;
    margin-bottom: 2rem;
}

.leetung {
    width: 450px;
}