*{
    margin:0;
    padding:0;
    Box-sizing: border-box;
}

body{
    background-color: whitesmoke;
    font-size: medium;
    font-family:'Times New Roman', Times, serif
}

header{
    background-color: aquamarine;
    color: black;
    padding: 30px 0;
    text-align: center;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 600;
    font-size: xx-large;
    margin: 2rem;
}

ul{
    display: flex;
    gap: 5rem;
    list-style: none;
    margin-top: 2rem;
    padding: 0;
    justify-content: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: small;
    color: black;
}

.about-paragraph{
    margin-bottom: 1rem;
}

.container{
    background-color: azure;
    margin: 1rem;
    padding: 25px;
}

.accent{
    background-color: lightblue;
}

p {
    margin-top: 1rem;
    margin-bottom: 2rem;
    line-height: 1.5rem;
    letter-spacing: 0.08pt;
}

main{
    flex: 3;
}

h2{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: x-large;
    margin-bottom: 1rem;
}

h3{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: medium;
    margin-bottom: 2rem;
}

.leetung {
    width: 550px;
}

figcaption{
    font-size: small;
    color: grey;
}

h4{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: medium;
    margin-bottom: 2rem;
}

.cheungchau{
    width: 550px;
}

h5{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: medium;
    margin-bottom: 2rem;
}

.viewport{
    width:550px;
}

/*footer-------------------*/
footer{
    background-color: blue;
    margin: 1rem;
    padding: 25px;
    text-align: center;
}
